:global {

    .banner-wrap{
        margin-bottom: 10px;
    }
    .banner-news .banner{
        width: 100%;
        height: 382px;
        background: #009dec;
    }
    .banner-news{
        height: 382px;
        background: url(https://special.ppmoney.com/PPava/ppmoney/pc-xinwenzhongixn/dist/f39f58fb5648b155ba48c97c71a33edf.png) no-repeat center 0;
    }
    
}